.sidebar {
  width: 260px;
  background: #6a4bcf;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid;
  border-top-right-radius: 20px;
  border-image-source: linear-gradient(to bottom, #FDFAFF, #674D9F); /* Changed to 'to bottom' for better look */
  border-image-slice: 1;
  
  .sidebar-nav {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 10px;
    }
  }
}

.logo-section {
  flex-shrink: 0;
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  border-bottom: 1px solid #f0f0f0;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 25px;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  transition: background 0.3s;

  .nav-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }

  &.active {
    background: #ffffff;
    color: #6a4bcf;
    font-weight: 700;
    
    .nav-icon {
      filter: none; 
    }
  }
}

.sidebar-logo {
 height: 63px;
 width: 93px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 130px;
  }
  .nav-item {
    font-size: 10px;
  }
}