.header {
  background: #fff;
  padding: 0.8rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  height: 60px;
  margin-inline-start: 10px;
  box-shadow: 2px 4px 8px 0px #0000001A;


  .header-left {
    .hostel-name {
      margin: 0;
      font-size: 16px;
      font-weight: 700;
      color: #333;
      letter-spacing: 0.5px;
    }
    .hostel-subtext {
      margin: 0;
      font-size: 12px;
      color: #999;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;

    .notification-btn {
      background: transparent;
      border: none;
      cursor: pointer;
      font-size: 18px;
      color: #555;
    }

    .user-profile {
      display: flex;
      align-items: center;
      gap: 10px;

      .user-avatar-small {
        width: 38px;
        height: 38px;
        border-radius: 50%;
        border: 2px solid #6a4bcf;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;
        .user-name {
          font-weight: 700;
          font-size: 14px;
          color: #333;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .user-role {
          font-size: 12px;
          color: #777;
        }
      }
    }
  }
}

@media (max-width: 768px) {
    .hostel-name {
      font-size: 12px !important;
    }

    .hostel-subtext, .user-role {
      font-size: 8px !important;
    }

    .user-name{
      font-size: 10px !important;
    }

    .notification-btn {
      display: none;
    }
}